{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="latest-comments">
        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}
        {# List of comments need to be overwrite #}
    </div>
{% endblock %}